html {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    margin: auto;

    a {
        text-decoration: none;
        color: green;
    }

}

body {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

/* Search form */
input, button {
    background-color: rgb(214, 214, 214);
    border: none;
    border-radius: 3px;
    padding: 5px;
}

button {
    background-color: black;
    color: white;

}

.recommendations-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Recommendation card */
.recommendation-card {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 90px;
    box-sizing: border-box;
    padding-left: 10px;
    overflow: hidden;
    border: solid gray 1px;
    border-radius: 3px;
}

.text-container {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
}

.artist {
    color: gray;
}


.title-and-artist {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Media query for smaller screens */
@media (max-width: 700px) {
    .text-container {
        font-size: 10px; /* Adjust the font size as needed */
        overflow-x: hidden;
    }
}