<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

        <title>Get Song Recommendations - Indie Gems</title>
    </head>
    <body>
        {% block content %}
        <h1>Find Song Recommendations</h1>
        <form method="POST" action="">
            {% csrf_token %}
            <label for="song_title">Enter a song you like:</label>
            <input type="text" id="song_title" name="song_title" list="song_titles" placeholder="Song Title" required>
            <datalist id = "song_titles">
                {% for title in all_song_titles %}
                    <option value="{{ title }}"></option>
                {% endfor %}
            </datalist>
            <button type="submit">Find gems!</button>
        </form>
        <p>Currently available artists are: ALEXSUCKS, Arctic Monkeys, Fontaines D.C., iDKHOW, Inhaler, The Killers, The Kooks, The Strokes, Surf Curse, The Vaccines</p>

        {% if form_submitted %}
        <div class="recommendations-wrapper">
          {% if invalid_title %}
            <script>
              alert("Please enter a song title that exactly matches an option in the dropdown list of songs or, instead, click on one of the available options.");
            </script>
          {% elif recommendations and recommendations.get_similar_songs %}
            <h2>Recommendations for the song {{ recommendations.get_source_song.to_string }}</h2>
                {% for recommendation in recommendations.get_similar_songs %}
                    <div class="recommendation-card">
                      <div class="image-container">
                        <img src={{ recommendation.album_img }} alt="">
                      </div>
                      <div class="text-container">
                        <div class="title-and-artist">
                          <h3>{{ recommendation.title }}</h3>
                          <p class="artist">{{ recommendation.artist }}</p>
                        </div>
                        <p>Similarity: {{ recommendation.similarity_score }}%</p>
                      </div>
                    </div>
                {% endfor %}
              {% else %}
                  <h2>No recommendations found</h2>
                  <p>Could not find any similar songs. Check back for when we update the dataset, or try another song!</p>
              {% endif %}
            </div>
        {% endif %}

        <a href="../">Go to home page</a>
        {% endblock %}
    </body>
</html>
